{{#if css}}
<link rel="stylesheet" href="/public/css/components/{{componentname}}.css" />
{{/if}}
<div class="component flex-column align-items-center" id="{{componentname}}-container">
  {{{body}}}
</div>
{{#unless ajax}}
<script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
{{/unless}}
{{#if script}}
<script src="/public/js/components/{{componentname}}.js"></script>
{{/if}}