<div id="currentUser">
  <div id="name"></div>
  <div id="available-swipe-buttons">
    <button class="btn btn-outline-danger btn-block" id="decline"><i class="fa-solid fa-x"></i></button>
    <button class="btn btn-outline-success btn-block" id="accept"><i class="fa-solid fa-check"></i></button>
  </div>
</div>