<div id="followed-list-card" class="card">
    <div class="card-header">
        <h4>Followed List</h1>
    </div>
    <ul class="list-group list-group-flush">
        {{#each followedUsers}}
        <li class="list-group-item followed-list-entry" id="user-{{this._id}}">
            <button class="btn btn-outline-primary col-12">{{this.userName}}</button>
        </li>
        {{/each}}
    </ul>
</div>
</div>