<ul>
    <li><button id="menu-home">Home</button></li>
    <li><button id="menu-followed">Followed</button></li>
    <li><button id="menu-conversations">Conversations</button></li>
    <li><button id="menu-my-profile">My Profile</button></li>
    <li><button id="menu-signout">Sign Out</button></li>
</ul>