<div class="d-flex">
    <div class="flex-fill"><button class="btn btn-outline-primary col-12" id="menu-home">Home</button></div>
    <div class="flex-fill"><button class="btn btn-outline-primary col-12" id="menu-followed">Followed</button></div>
    <div class="flex-fill"><button class="btn btn-outline-primary col-12" id="menu-conversations">Conversations</button>
    </div>
    <div class="flex-fill"><button class="btn btn-outline-primary col-12" id="menu-my-profile">My Profile</button></div>
    <div class="flex-fill"><button class="btn btn-outline-primary col-12" id="menu-signout">Sign Out</button></div>
</div>