<html lang="en">
  <head>
    <title>KittyLitty</title>
  </head>
  <body>
    <header>
      <h1 id="app-heading">KittyLitty</h1>
    </header>
    <main class="convoContainer">
      <input
        id="enterMessage"
        type="text"
        name="enterMessage"
        placeholder="Please enter your message here"
      />
      <button id="submitMessage">Send</button>

      <ul id="conversationList">
      </ul>

      <ul id="messageList"></ul>

      <a href="/" id="homeLink">Back to home screen.</a>
    </main>

    <footer>
      <p class="footerClass">Author: KittyLitty Devs</p>
      <p class="footerClass">Where feline friendships are created.</p>
    </footer>
  </body>
</html>