<html lang="en">
  <head>
    <title>KittyLitty</title>
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <body>
    <header>
      <h1 id="app-heading">KittyLitty</h1>
    </header>
    <main class="convoContainer">
      <input
        id="enterMessage"
        type="text"
        name="enterMessage"
        placeholder="Please enter your message here"
      />
      <button id="submitMessage">Send</button>

      <ul id="conversationList"></ul>

      <div class="chat">
        <ul id="messageList"></ul>
      </div>

      <a href="/" id="homeLink">Back to home screen.</a>
    </main>

    <footer>
      <p class="footerClass">Author: KittyLitty Devs</p>
      <p class="footerClass">Where feline friendships are created.</p>
    </footer>
  </body>
</html>