<input
  hidden
  id="enterMessage"
  type="text"
  name="enterMessage"
  placeholder="Please enter your message here"
/>
<button hidden id="submitMessage">Send</button>

<ul id="conversationList"></ul>

<div class="chat">
  <ul id="messageList"></ul>
</div>