<style>
    #signin-container .error-text {
        color: red;
    }
</style>
<form id="signin-form">
    <label for="signin-email">Email: <span id="signin-email-error" class="error-text"></span></label><br>
    <input type="text" id="signin-email" name="signin-email" placeholder="email" /><br>
    <label for="signin-password">Password: <span id="signin-password-error" class="error-text"></span></label><br>
    <input type="password" id="signin-password" placeholder="password" /><br>
    <input type="submit" value="Submit" />
    <input id="load-signup-button" type="button" value="Load Signup" /><br>
</form>