<style>
    #signup-container .error-text {
        color: red;
    }
</style>
<form id="signup-form">
    <label for="signup-username">Username: <span id="signup-username-error" class="error-text"></span></label><br>
    <input type="text" id="signup-username" name="signup-username" placeholder="username" /><br>
    <label for="signup-email">Email: <span id="signup-email-error" class="error-text"></span></label><br>
    <input type="text" id="signup-email" name="signup-email" placeholder="email" /><br>
    <label for="signup-password">Password: <span id="signup-password-error" class="error-text"></span></label><br>
    <input type="password" id="signup-password" name="signup-password" placeholder="password" /><br>
    <input type="submit" value="Submit" />
    <input id="load-signin-button" type="button" value="Load Signin" />
</form>