<script src="/public/js/components/signin.js"></script>
<form id="signin-form">
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" value="email" /><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" /><br>
    <input type="submit" value="submit" />
</form>