<style>
    #signin-container .error-text {
        color: rgb(31, 22, 205);
    }
</style>
<section class="h-100 gradient-custom">
    <div class="container-lg">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-auto">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5">
                        <div class="form-outline mb-12">
                            <form id="signup-form">
                                <div class="d-flex">
                                    <div class="p-3">
                                        <h4>User Info:</h4>
                                        <table id="signup-user-info-table" class="signup-table">

                                            <tr>
                                                <td>
                                                    <label for="signup-username">Username: <span
                                                            id="signup-username-error"
                                                            class="error-text"></span></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" id="signup-username" name="signup-username"
                                                        placeholder="Username" />
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <label for="signup-email">Email: <span id="signup-email-error"
                                                            class="error-text"></span></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" id="signup-email" name="signup-email"
                                                        placeholder="Email" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="signup-password">Password: <span
                                                            id="signup-password-error"
                                                            class="error-text"></span></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="password" id="signup-password" name="signup-password"
                                                        placeholder="Password" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="p-3">
                                        <h4>Cat Info:</h4>
                                        <table id="signup-cat-info-table">
                                            <tr>
                                                <td>
                                                    <label for="signup-cat-name">Cat Name:<span
                                                            id="signup-cat-name-error"
                                                            class="error-text"></span></label>
                                                </td>
                                                <td>
                                                    <label for="signup-cat-gender">Cat Gender:<span
                                                            id="signup-cat-gender-error"
                                                            class="error-text"></span></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" name="signup-cat-name" id="signup-cat-name"
                                                        placeholder="Name" />
                                                </td>
                                                <td>
                                                    <select name="signup-cat-gender" id="signup-cat-gender">
                                                        <option>Select Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="signup-cat-age">Cat Age:<span id="signup-cat-age-error"
                                                            class="error-text"></span></label>
                                                </td>
                                                <td>
                                                    <label for="signup-cat-breed">Cat Breed:<span
                                                            id="signup-cat-breed-error"
                                                            class="error-text"></span></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input style="width: 45%" min="0" max="30" type="number"
                                                        name="signup-cat-age-years" id="signup-cat-age-years"
                                                        placeholder="Years" />
                                                    <input style="width: 45%" min="0" max="12" type="number"
                                                        name="signup-cat-age-months" id="signup-cat-age-months"
                                                        placeholder="Months" />
                                                </td>
                                                <td>
                                                    <input name="signup-cat-breed" id="signup-cat-breed" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <label for="signup-cat-altered">Neutered or Spayed?:<span
                                                            id="signup-cat-altered-error"
                                                            class="error-text"></span></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <select name="signup-cat-altered" id="signup-cat-altered">
                                                        <option>Select Altered Status</option>
                                                        <option value="true">Yes</option>
                                                        <option value="false">No</option>
                                                    </select>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <label for="signup-cat-image-1">Cat Image 1(URL):<span
                                                            id="signup-cat-image-error-1"
                                                            class="error-text"></span></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <input type="text" name="signup-cat-image-1" id="signup-cat-image-1"
                                                        placeholder="URL to Cat Image 1" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <label for="signup-cat-image-2">Cat Image 2(URL):<span
                                                            id="signup-cat-image-error-2"
                                                            class="error-text"></span></label>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <input type="text" name="signup-cat-image-2" id="signup-cat-image-2"
                                                        placeholder="URL to Cat Image 2" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <label for="signup-cat-image-3">Cat Image 3(URL):<span
                                                            id="signup-cat-image-error-3"
                                                            class="error-text"></span></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <input type="text" name="signup-cat-image-3" id="signup-cat-image-3"
                                                        placeholder="URL to Cat Image 3" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="p-3">
                                        <h4>Profile Info:</h4>
                                        <div class="flex-column">
                                            <div>
                                                <label for="signup-profile-bio">Profile Bio:<span
                                                        id="signup-profile-bio-error" class="error-text"></span></label>
                                            </div>
                                            <div>
                                                <textarea class="h-100 w-100" id="signup-profile-bio"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="p-2">
                                        <input class="btn btn-outline-primary btn-md px-5" type="submit"
                                            value="Submit" />
                                    </div>
                                    <div class="p-2">
                                        <input class="btn btn-outline-primary btn-md px-5" id="load-signin-button" </
                                            type="button" value="Load Signin" />
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>