#signup-container {
    color: rgb(255, 8, 0);

    background: #02a2f8;

    background: -webkit-linear-gradient(to right, rgb(13, 189, 208), rgb(7, 63, 159));

/* For IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgb(13, 189, 208), rgb(7, 63, 159))
}